body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 700px;
    margin: 100px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #777;
}

input {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 12px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}