body {

    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

    background: linear-gradient(to bottom right, #fff7f0, #ffe9d6);

    color: #333;

}

.container {

    width: 85%;

    margin: auto;

    text-align: center;

    padding-top: 40px;

}

h1 {

    font-size: 64px;

    margin-bottom: 10px;

}

p {

    font-size: 20px;

    color: #666;

}

form input {

    width: 70%;

    padding: 18px;

    border-radius: 15px;

    border: 1px solid #ddd;

    font-size: 18px;

    margin-top: 20px;

}

form button {

    background: #ff6600;

    color: white;

    border: none;

    padding: 16px 34px;

    border-radius: 15px;

    font-size: 18px;

    cursor: pointer;

    margin-top: 25px;

    transition: 0.3s;

}

form button:hover {

    background: #e65c00;

    transform: scale(1.05);

}

.filters {

    margin-top: 30px;
    margin-bottom: 10px;

}

.filters label {

    display: inline-block;

    background: #fff2e6;

    color: #ff6600;

    padding: 14px 22px;

    border-radius: 30px;

    margin: 8px;

    cursor: pointer;

    font-weight: bold;

    transition: 0.3s;

}

.filters label:hover {

    background: #ff6600;

    color: white;

}

.filters input {

    margin-right: 8px;

}

.recipes {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 30px;

    margin-top: 50px;

}

.recipe-card {

    background: white;

    padding: 25px;

    border-radius: 25px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.08);

    transition: 0.3s;

}

.recipe-card:hover {

    transform: translateY(-10px);

    box-shadow: 0 15px 30px rgba(0,0,0,0.15);

}

.recipe-card h2 {

    font-size: 24px;

    margin-bottom: 15px;

}

.recipe-card button {

    background: #ff6600;

    color: white;

    border: none;

    padding: 12px 24px;

    border-radius: 12px;

    cursor: pointer;

    transition: 0.3s;

}

.recipe-card button:hover {

    background: #e65c00;

}

.tag {

    display: inline-block;

    background: #fff2e6;

    color: #ff6600;

    padding: 8px 14px;

    border-radius: 20px;

    margin: 5px;

    font-size: 14px;

    font-weight: bold;

}

.recipe-info {

    background: white;

    padding: 40px;

    border-radius: 30px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.08);

    margin-top: 30px;

    text-align: left;

}

.recipe-info h2 {

    margin-top: 30px;

    color: #ff6600;

}

ol {

    padding-left: 25px;

}

ol li {

    margin-bottom: 12px;

    line-height: 1.8;

}

.pagination {

    margin-top: 40px;

    margin-bottom: 50px;

}

.pagination button {

    background: #ff6600;

    color: white;

    border: none;

    padding: 16px 30px;

    border-radius: 15px;

    cursor: pointer;

    font-size: 18px;

    transition: 0.3s;

}

.pagination button:hover {

    background: #e65c00;

    transform: scale(1.05);

}