<!DOCTYPE html>
<html>
<head>
    <title>{{ recipe.name }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>{{ recipe.name }}</h1>

    <div class="recipe-info">

        <h2>Ingredients:</h2>

        <p>{{ recipe.ingredients }}</p>

        <h2>Estimated Calories:</h2>

        <p>{{ recipe.calories }}</p>

        <h2>Tags:</h2>

        <div class="tags">

            {% for tag in recipe.tags %}

                <span class="tag">{{ tag }}</span>

            {% endfor %}

        </div>

        <h2>Directions:</h2>

        <p>{{ recipe.directions }}</p>

        <h2>Similar Recipes:</h2>

<div class="recipes">

{% for r in similar_recipes %}

    <div class="recipe-card">

        <h3>{{ r.name }}</h3>

        <a href="/recipe/{{ r.id }}">
            <button>Open Recipe</button>
        </a>

    </div>

{% endfor %}

</div>

    </div>

    <a href="javascript:history.back()">

       <button class="back-button">
    Back
</button>

    </a>

</div>

</body>
</html>